<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>user update page</title>
</head>

<body>

<h1>user update page</h1>
<hr>

<form action="/user/update/{{USER.email}}" method="post" name="updateForm">
    <input type="password" name="password" placeholder="password"/>
    <input type="text" name="username" placeholder="username" value="{{USER.username}}"/>
    <input type="submit" value="Update"/>
</form>

</body>
</html>